#*******************************************************************************
#.gitignore
#*******************************************************************************

#Purpose:
#The git program is informed here to ignore the following files while performing
#its distributed revision control and source code management. 
#Author:
#Cedric H. David, 2015-2023


#*******************************************************************************
#List of files that git will ignore
#*******************************************************************************

#-------------------------------------------------------------------------------
#The input and output files stored in the sub-directories of input/ and output/
#-------------------------------------------------------------------------------
input/
output/


#-------------------------------------------------------------------------------
#.DS_Store files
#-------------------------------------------------------------------------------
.DS_Store


#*******************************************************************************
#End
#*******************************************************************************